# LEKCE 2

# Podmíněný výběr tučňáků

## Načtěte dataset Palmer Penguins
Můžete jej stáhnout z GitHub [repozitáře](https://raw.githubusercontent.com/allisonhorst/palmerpenguins/master/inst/extdata/penguins.csv).

Použijte knihovnu pandas, metodu `read_csv()` a data uložte do dataframu nazváného data.

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/allisonhorst/palmerpenguins/master/inst/extdata/penguins.csv"

data = pd.read_csv(url)

### Které druhy tučňáka mají zastoupení na ostrově Dream?

In [2]:
data[data["island"] == 'Dream']["species"].unique()

array(['Adelie', 'Chinstrap'], dtype=object)

### Kolik tučňáků má hmotnost vyšší než 5000 gramů?

Použijte podmíněný výběr k filtraci tučňáků s hmotností vyšší než 5000 gramů a spočítejte počet takových záznamů.

In [3]:
data[data["body_mass_g"] > 5_000] #.shape[0]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
153,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007
155,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007
156,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007
159,Gentoo,Biscoe,46.7,15.3,219.0,5200.0,male,2007
161,Gentoo,Biscoe,46.8,15.4,215.0,5150.0,male,2007
...,...,...,...,...,...,...,...,...
267,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,male,2009
269,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,male,2009
273,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

### Kolik tučňáků má hmotnost menší než 3500 gramů a délku křídla (`flipper`) větší než 200 mm?

Použijte podmíněný výběr pro najití tučňáků splňujících obě kritéria a spočítejte, kolik takových záznamů existuje.

In [4]:
data[(data["body_mass_g"] < 3_500) & (data["flipper_length_mm"] > 200)] #.shape[0]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009

### Kolik tučňáků z ostrova Torgensen má ve sloupci `sex` uvedenu hodnotu `female`?

In [12]:
data[(data["island"] == "Torgersen") & (data["sex"] == "female")] #.shape[0]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,2007
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,female,2007
15,Adelie,Torgersen,36.6,17.8,185.0,3700.0,female,2007
16,Adelie,Torgersen,38.7,19.0,195.0,3450.0,female,2007
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,female,2007
68,Adelie,Torgersen,35.9,16.6,190.0,3050.0,female,2008
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,female,2008
72,Adelie,Torgersen,39.6,17.2,196.0,3550.0,female,2008
74,Adelie,Torgersen,35.5,17.5,190.0,3700.0,female,2008
76,Adelie,Torgersen,40.9,16.8,191.0,3700.0,female,2008
78,Adelie,Torgersen,36.2,16.1,187.0,3550.0,female,2008
80,Adelie,Torgersen,34.6,17.2,189.0,3200.0,female,2008
82,Adelie,Torgersen,36.7,18.8,187.0,3800.0,female,2008
116,Adelie,Torgersen,38.6,17.0,188.0,2900.0,female,2009
118,Adelie,Torgersen,35.7,17.0,189.0,3350.0,female,2009
120,Adelie,Torgersen,36.2,17.2,187.0,3150.0,female,2009
122,Adelie,Torgersen,40.2,17.0,176.0,3450.0,female,2009
124,Adelie,Torgersen,35.2,15.9,186.0,3050.0,female,2009
126,Adelie,Torgersen,38.8,17.6,191.0,3275.0,female,2009
128,Adelie,Torgersen,39.0,17.1,191.0,3050.0,female,2009
130,Adelie,Torgersen,38.5,17.9,190.0,3325.0,female,2009

### Který rok má nejvíce záznamů?

In [6]:
data["year"].value_counts()#.head(1)

year
2009    120
2008    114
2007    110
Name: count, dtype: int64

### Jaká je mediánová hodnota `body_mass_g` tučňáků v datasetu?

Použijte metodu `describe()` pro zobrazení základních statistik.

50\.	percentil je totéž jako medián.

In [7]:
data["body_mass_g"].describe()

count     342.000000
mean     4201.754386
std       801.954536
min      2700.000000
25%      3550.000000
50%      4050.000000
75%      4750.000000
max      6300.000000
Name: body_mass_g, dtype: float64

In [8]:
# Jak se dostat ke konkrétní hodnotě?
# Kód volá metodu describe() na konkrétním sloupci body_mass_g ve dataframe data
# Pomocí indexu ['50%'] vybírá medián (50. percentil)
data["body_mass_g"].describe()['50%']

# Kód volá metodu describe() na celém dataframe data, čímž získá popisné statistiky pro všechny numerické sloupce v dataframe
# Pomocí .loc[] se specifikuje, že chcete hodnotu z řádku '50%' (což odpovídá mediánu) a sloupce 'body_mass_g'
data.describe().loc['50%', 'body_mass_g']

4050.0